language: java

dist: xenial

jdk: openjdk8

git:
  depth: false

addons:
  sonarcloud:
    organization: francescomariotti
    
services:
  - docker
  - xvfb
  
install: true

cache:
  directories:
  - $HOME/.m2
  - $HOME/.sonar/cache

script:
- mvn -f mariotti-project/pom.xml clean verify -Pjacoco && mvn -f mariotti-project/pom.xml verify -Pbdd-tests && mvn -f mariotti-project/pom.xml coveralls:report sonar:sonar