<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Offices</title>
</head>
<body>
	<!-- IF NO OFFICE IS PRESENT -->
	<div th:if="${offices.empty}">
		<div>No office found</div>
	</div>
	<!-- ELSE -->
	<div th:unless="${offices.empty}">
		<table id="office_table">
			<caption>Offices:</caption>
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="office : ${offices}">
					<td th:text="${office.id}"></td>
					<td th:text="${office.name}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>